body {
	padding: 0px;
	margin: 0px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	background-color: #849d8f;
}

a {
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

a:hover {
	color: #FFBC9E;
}

a:focus {
	color: #FFBC9E;
}

a:active {
	color: #FFBC9E;
}

.button {
	display: block;
	font-weight: 700;
	background-color: #E84D37;
	background-image: -o-linear-gradient(#E74A35, #E84D37);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E74A35), to(#E84D37));
	background-image: linear-gradient(#E74A35, #E84D37);
	color: #FEFEFE;
	-webkit-box-shadow: 0 1px 2px #AC1000;
	box-shadow: 0 1px 2px #AC1000;
	text-shadow: 0 2px 4px #000000;
	border: 0;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
}

.button:hover {
	background-color: rgba(255, 255, 255, .2);
	background-image: -o-linear-gradient(left, #ED705E 0%, #F58669 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(#ED705E), to(#F58669));
	background-image: linear-gradient(90deg, #ED705E 0%, #F58669 100%);
	color: #FFFFFF;
}

.button:active {
	background-color: #000000;
	opacity: 7%;
	background-image: -o-linear-gradient(left, #E74A35 0%, #F26843 100%);
	background-image: -webkit-gradient(linear, left top, right top, from(#E74A35), to(#F26843));
	background-image: linear-gradient(90deg, #E74A35 0%, #F26843 100%);
	color: #FFFFFF;
}

img {
	max-width: 100%;
	height: auto;
}

.main-title {
	font-size: 35px;
	line-height: 41px;
	margin-top: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: none;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

.container {
	width: 1146px;
	margin: 0 auto;
}

.field:hover {
	border: 1px solid #9A9A9A;
}

.field:focus {
	border: 1px solid #2E88E4;
}

.main-navigation {
	position: relative;
	z-index: 1;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #849d8f;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background: transparent;
}

.main-header-logo {
	height: 65px;
	width: 155px;
	margin-top: 9px;
	margin-right: 6px;
	margin-left: 0;
	margin-bottom: 2px
}

.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	min-height: 70px;
	margin-top: 3px;
	margin-left: -39px;
	margin-right: 357px;
}

.catalog-navigation {
	margin-right: 338px;
}

.nav-link a {
	display: block;
	margin-top: 20px;
	vertical-align: middle;
}

.user-navigation {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0;
	margin-top: 20px;
}

.user-navigation a {
	display: block;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	vertical-align: middle;
}

.site-navigation,
.catalog-list {
	list-style: none;
}

.catalog-link {
	display: block;
	width: 90px;
	height: 35px;
	text-align: center;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 7px;
}

.catalog-link:hover {
	background-color: #F7F6F3;
	color: #323232;
	font-weight: 700;
}

.catalog-list {
	display: none;
	padding: 0;
	line-height: 30px;
	font-size: 14px;
	height: 174px;
	width: 146px;
	background-color: #F8F7F4;
	border-radius: 10px;
	position: absolute;
	top: 62px;
	-webkit-box-shadow: 0 20px 20px #000000;
	box-shadow: 0 20px 20px #000000;
}

.catalog-list::before {
	content: "";
	position: absolute;
	width: 146px;
	height: 7px;
	background: transparent;
	border: 0;
	margin-left: 15px;
	top: -5px;
	left: -15px;
}

.catalog-list:hover::after {
	display: block;
}

.catalog-list a {
	margin: 0;
	color: #323232;
}

.catalog-list :nth-child(2) {
	border-top: 1px solid #979797;
}

.catalog-item a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #323232;
	padding-left: 23px;
}

.catalog-new-item a {
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 23px;
	color: #323232;
}

.catalog-active {
	color: #FEFEFE;
	font-weight: 700;
	background-color: #D07058;
}

.active-item {
	background-color: #D07058;
	color: #FFFFFF;
	font-weight: 500;
}

.catalog-link:hover+.catalog-list {
	display: block;
}

.catalog-link:hover+.catalog-list,
.catalog-list:hover {
	display: block;
}

.delivery-payment {
	display: block;
	height: 35px;
	width: 171px;
	text-align: center;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 7px;
	margin-left: -1px;
}

.delivery-payment:hover {
	background-color: #F7F6F3;
	color: #323232;
	font-weight: 700;
}

.about-company {
	display: block;
	height: 35px;
	width: 120px;
	text-align: center;
	border-radius: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 7px;
}

.about-company:hover {
	background-color: #F7F6F3;
	color: #323232;
	font-weight: 700;
}

.catalog-item a:hover {
	background-color: #FBDED7;
}

.catalog-item a:active {
	background-color: #F6B5A5;
}

.search-panel,
.login-link {
	margin-right: 6px;
}

.search-panel-catalog,
.login-link-catalog {
	margin-right: 3px;
}

.search {
	width: 35px;
	height: 35px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 50%;
	border: 1px solid #979797;
}

.catalog-search {
	margin-left: 2px;
}

.loupe-svg {
	fill: #FFFFFF;
	position: relative;
	top: 8px;
	left: 8px;
}

.loupe-svg-catalog {
	top: 9px;
	left: 8px;
}

.entrance-svg {
	fill: #FFFFFF;
	position: relative;
	top: 8px;
	left: 16px;
}

.entrance-svg-catalog {
	top: 8px;
	left: 18px;
}

.entrance-name {
	position: relative;
	top: 4px;
	left: 20px;
}

.entrance-name-catalog {
	position: relative;
	top: 4px;
	left: 23px;
}

.basket-svg {
	fill: #FFFFFF;
	position: relative;
	top: 8px;
	left: 16px;
}

.basket-red-svg {
	fill: #FFFFFF;
	position: relative;
	top: 8px;
	left: 16px;
}

.basket-name {
	position: relative;
	top: 3px;
	left: 19px;
}

.search:hover {
	background-color: #F8F7F4;
	fill: #323232;
}

.search:hover+.site-search {
	display: block;
}

.search:hover+.site-search,
.site-search:hover {
	display: block;
}

.loupe-svg:hover {
	fill: #323232;
}

.search:hover .loupe-svg {
	fill: #323232;
}

.site-search {
	display: none;
	width: 344px;
	height: 87px;
	color: #323232;
	background-color: #F8F7F4;
	border-radius: 10px;
	-webkit-box-shadow: 0 20px 20px;
	box-shadow: 0 20px 20px;
	position: absolute;
	top: 62px;
	right: 205px;
}

.site-search::before {
	content: "";
	position: absolute;
	width: 280px;
	height: 7px;
	background: transparent;
	border: 0;
	margin-left: 15px;
	top: -5px;
	left: 50px;
}

.site-search:hover::after {
	display: block;
}

.site-search-field {
	position: absolute;
	top: 17px;
	left: 12px;
	width: 298px;
	height: 47px;
	z-index: 1;
	padding-left: 16px;
}

.login {
	width: 97px;
	height: 35px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 20px;
	border: 1px solid #979797;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.login:hover {
	background-color: #F8F7F4;
	color: #000000;
}

.login:hover+.entrance {
	display: block;
}

.login:hover+.entrance,
.entrance:hover {
	display: block;
}

.entrance-svg:hover {
	fill: #323232;
}

.login:hover .entrance-svg {
	fill: #323232;
}

.entrance::before {
	content: "";
	position: absolute;
	width: 150px;
	height: 7px;
	background: transparent;
	border: 0;
	margin-left: 15px;
	top: -5px;
	left: 150px;
}

.login:hover+.entrance:hover::after {
	display: block;
}

.entrance {
	display: none;
	position: absolute;
	top: 62px;
	right: 106px;
	width: 280px;
	height: 217px;
	margin: 0;
	padding: 20px 15px;
	color: #323232;
	background-color: #F8F7F4;
	border-radius: 10px;
	-webkit-box-shadow: 0 20px 20px;
	box-shadow: 0 20px 20px;
}

.entrance-email-field {
	position: absolute;
	top: 26px;
	left: 30px;
	width: 244px;
	height: 47px;
	z-index: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 16px;
}

.password-email-field {
	position: absolute;
	top: 88px;
	left: 30px;
	margin-top: 20px;
	width: 244px;
	height: 47px;
	z-index: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 16px;
}

.entrance-after-fields {
	top: 165px;
	left: 30px;
	position: absolute;
	margin-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.entrance-button {
	width: 103px;
	height: 48px;
	font-weight: 700;
}

.help-to-login a {
	margin-left: 15px;
	margin-bottom: 5px;
	display: block;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	text-decoration: underline;
}

.basket {
	width: 97px;
	height: 35px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 20px;
	border: 1px solid #979797;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.catalog-basket {
	width: 120px;
	height: 35px;
	background-color: #F8F7F4;
	color: #323232;
}

.items-in-basket {
	position: relative;
	top: 2px;
	left: 21px;
}

.basket-svg:hover {
	fill: #323232;
}

.basket:hover .basket-svg {
	fill: #323232;
}

.full-basket {
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 3px;
}

.empty-basket {
	padding-top: 6px;
	padding-left: 18px;
	padding-right: 2px;
}

.contact-information {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: absolute;
	right: 0;
	top: 100%;
	font-weight: 700;
	margin-top: -32px;
	text-align: right;
}

.contact-information span {
	display: block;
	font-size: 14px;
	line-height: 16px;
}

.contact-information a {
	display: block;
	margin-top: 5px;
	font-size: 22px;
	line-height: 24px;
}

.slide-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	position: relative;
	margin: 0 auto;
	top: -455px;
}

.slider-ice-icon {
	margin: 0 auto;
	margin-top: -90px;
	margin-bottom: -35px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
}

.slide-title {
	display: block;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	width: 695px;
	margin: 0 auto;
	margin-bottom: 15px;
}

.slider-button {
	position: relative;
}

.slider-control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	position: absolute;
	top: -499px;
	left: 0;
}

.button-switch-slide {
	width: 22px;
	height: 21px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid #FFFFFF;
	margin-right: 7px;
}

.button-switch-slide:hover {
	background-color: rgba(248, 247, 244, .4);
	border: 2px solid #FFFFFF;
}

.button-switch-active {
	background-color: #FFFFFF;
}

.slide {
	display: none;
}

.slide-show {
	display: block;
}

.active-body {
	display: block;
}

.body-1 {
	background-color: #849d8f;
}

.body-2 {
	background-color: #8996a6;
}

.body-3 {
	background-color: #9d8b84;
}

.slide-button {
	width: 282px;
	height: 36px;
	font-size: 32px;
	line-height: 44px;
	border-radius: 50px;
	margin: 0 auto;
	margin-top: 15px;
	padding-top: 8px;
	padding-bottom: 22px;
}

.active-switch {
	display: block;
	background: #FFFFFF;
}

.special-offer {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: -420px;
	font-weight: 500;
}

.raspberry-free {
	background-color: #AB011D;
	height: auto;
	margin-top: 6px;
	padding-bottom: 22px;
	border-radius: 10px;
	background-size: cover;
	background-image: url("../img/raspberry.bg.png");
	width: 560px;
	background-position: center;
	background-repeat: no-repeat;
}

.special-offer-title {
	font-size: 35px;
	font-weight: 700;
	line-height: 41px;
	color: #FFFFFF;
	margin-left: 19px;
	margin-top: 17px;
}

.special-offer-text {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: -22px;
}

.raspberry-text {
	width: 514px;
}

.raspberry-button {
	width: 168px;
	height: 49px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 24px;
	border-radius: 50px;
	margin-left: 371px;
	margin-top: 42px;
	padding-top: 11px;
}

.choco-button {
	width: 192px;
	height: 48px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 24px;
	border-radius: 50px;
	text-align: center;
	margin-left: 351px;
	margin-top: 43px;
	padding-top: 10px;
}

.chocolate-free {
	background-color: #1F0D07;
	height: auto;
	margin-top: 6px;
	padding-bottom: 22px;
	border-radius: 10px;
	background-size: cover;
	margin-left: 10px;
	background-image: url("../img/shoco.bg.png");
	width: 560px;
	background-position: center;
	background-repeat: no-repeat;
}

.hit-ice-list {
	padding: 0;
	margin-top: 39px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ice-item {
	width: 267px;
}

.catalog-ice-item:hover {
	z-index: 2;
}

.ice-item:hover::after {
	content: "";
	position: absolute;
	background-color: rgba(255, 255, 255, .2);
	left: -15px;
	top: -4px;
	width: 296px;
	height: 408px;
	z-index: -2;
}

.ice-item:hover .quick-view-button {
	display: block;
}

.hit-strawberry {
	width: 266px;
}

.hit-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	left: 0;
	top: 207px;
	z-index: 1;
	font-weight: 700;
}

.catalog-price {
	left: -4px;
	top: 204px;
}

.quick-view-button {
	display: none;
	font-size: 18px;
	line-height: 24px;
	width: 203px;
	height: 48px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 30px;
	margin-top: -25px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	top: 100%;
}

.catalog-button {
	display: none;
	font-size: 18px;
	line-height: 24px;
	width: 203px;
	height: 48px;
	margin-left: 30px;
	margin-top: -25px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	top: 100%;
}

.hit {
	position: relative;
}

.ice {
	position: relative;
	z-index: 1;
}

.hit::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: url("../img/hit.svg") center center no-repeat;
	width: 61px;
	height: 61px;
	z-index: 1;
}

.hit-ice-price {
	font-weight: 700;
	font-size: 45px;
	margin-top: 4px;
	margin-left: -2px;
}

.hit-rouble {
	font-weight: 700;
	font-size: 45px;
	margin-left: 3px;
	margin-top: 4px;
}

.hit-ice-value {
	font-size: 30px;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 10px;
}

.ice-price {
	font-weight: 700;
	font-size: 45px;
	margin-left: 3px;
}

.ice-rouble {
	font-weight: 700;
	font-size: 45px;
	margin-left: 3px;
}

.ice-value {
	font-size: 30px;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 5px;
}

.shop-information {
	background-color: #E8D5B4;
	background-size: cover;
	border-radius: 15px;
	overflow: hidden;
	display: block;
	margin-top: -13px;
	margin-bottom: 43px;
	height: auto;
	padding: 0;
	background-image: url("../img/waffle.png");
	width: 1150px;
	background-position: center;
	background-repeat: no-repeat;
	color: #323232;
}

.shop-description {
	display: block;
	color: #323232;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	padding: 36px 3px 2px 19px;
	padding-top: 0;
}

.shop-characteristics {
	font-size: 16px;
	line-height: 22px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	margin-top: -10px;
	margin-left: 27px;
	margin-bottom: 7px;
}

.feature {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-top: -18px;
	margin-left: 0;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	width: 530px;
}

.feature p {
	margin-top: 24px;
	margin-left: 2px;
}

.feature img {
	margin-top: 11px;
	margin-right: 3px;
	margin-left: -7px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.feature-2,
.feature-4 {
	margin-left: 38px;
}

.newsletter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 34px;
	margin-bottom: 39px;
}

.blog-news {
	width: 560px;
	height: 220px;
	background-image: url("../img/strawberry.png");
	border-radius: 20px;
	background-repeat: no-repeat;
	color: #000000;
	padding-left: 22px;
}

.news-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin-top: 20px;
	margin-left: -2px;
}

.news-serving {
	margin-top: 4px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: #000000;
	text-decoration: underline;
	display: block;
	width: 54%;
	margin-left: -2px;
	margin-top: -11px
}

.subscription {
	width: 567px;
	height: 209px;
	margin-left: 30px;
	font-size: 16px;
	line-height: 22px;
	color: #5A5A5A;
	background-color: #F8F7F4;
	border: 5px solid;
	-o-border-image: url("../img/post.png") 5 round;
	border-image: url("../img/post.png") 5 round;
	border-radius: 20px;
}

.subscription-text {
	margin-top: 27px;
	margin-left: 17px;
	width: 517px;
}

.subscription-form {
	margin-top: 25px;
	margin-left: 15px;
}

.subscription-email {
	margin-top: 10px;
	height: 47px;
	width: 367px;
	border-radius: 5px;
	border: 1px solid #B2B2B2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 16px;
}

.email-button {
	margin-top: -45px;
	margin-left: 377px;
	width: 131px;
	height: 46px;
	-webkit-box-shadow: 0 2px 2px;
	box-shadow: 0 2px 2px;
	font-size: 16px;
	line-height: 22px;
	padding-left: 5px;
}

.map .container {
	position: relative;
}

.map {
	margin: -2px 0 -20px;
}

.map-image {
	max-width: initial;
	width: 1200px;
	margin-left: -25px;
	height: 430px;
	display: block;
}

.map iframe {
	position: absolute;
	left: 0;
	width: 100%;
	border: none;
	z-index: 1;
	height: 430px;
}

.map-legend {
	height: 308px;
	width: 305px;
	color: #323232;
	background-color: #FFFFFF;
	margin-left: 100px;
	border-radius: 20px;
	position: absolute;
	right: 0px;
	top: 60px;
	z-index: 2;
}

.map-legend-text {
	width: 228px;
	display: block;
	margin-left: 27px;
	margin-top: 36px;
}

.map-legend-address {
	width: 155px;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 2px;
	margin-top: -8px;
}

.map-legend-contacts {
	margin: 0;
	padding: 0;
	margin-top: 12px;
}

.telephone-nr {
	position: relative;
	top: 4px;
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	font-weight: 700;
}

.address {
	display: block;
	font-size: 18px;
	line-height: 22px;
	margin: -18px 0 18px;
}

.opening-hours {
	position: relative;
	top: -14px;
}

.feedback-button {
	width: 254px;
	height: 46px;
	font-size: 18px;
	line-height: 24px;
	margin: 0 auto;
	margin-top: -5px;
	border-radius: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 12px;
}

.main-footer {
	color: #ffffff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 95px;
}

.footer-catalog {
	margin-top: -7px;
}

.border-line {
	width: 1149px;
	height: 1px;
	background-color: #FFFFFF;
	opacity: 30%;
	position: relative;
	top: 20px;
}

.footer-container {
	margin-top: 45px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.social-media {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 45px;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-top: 10px;
}

.social-media a {
	display: block;
	margin-right: 12px;
}

.social-icon {
	border: 3px solid rgba(255, 255, 255, .5);
	border-radius: 50%;
	opacity: 0.8;
}

.social-icon:hover {
	border: 3px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
	opacity: 1.0;
}

.social-icon:active {
	border: 3px solid rgba(255, 255, 255, .7);
	border-radius: 50%;
	opacity: 1.0;
}

.stakeholders-info {
	width: 343px;
	min-height: 40px;
	font-size: 13px;
	line-height: 16px;
	text-decoration: underline;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: 178px;
	margin-top: 5px;
}

.stakeholders-info a {
	display: block;
	margin: 0;
	padding: 5px;
}

.provider {
	position: relative;
}

.provider::before {
	content: "";
	position: absolute;
	left: -16px;
	top: 6px;
	width: 15px;
	height: 13px;
	background: url("../img/heart.svg") center center no-repeat;
}

.our-docs {
	margin-left: 20px;
}

.about-production {
	margin-top: -3px;
}

.eco-standarts {
	margin-top: -3px;
	margin-left: 32px;
}

.htmlacademy {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	min-height: 45px;
	margin-left: auto;
}

.htmlacademy-logo {
	display: block;
	margin-top: -6px;
	margin-right: 10px;
}

.htmlacademy-link {
	display: block;
	font-size: 12px;
	line-height: 16px;
	padding: 0;
	margin-top: 5px;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-200%) translateX(-50%);
		        transform: translateY(-200%) translateX(-50%);
	}
	100% {
		-webkit-transform: translateY(-50%) translateX(-50%);
		        transform: translateY(-50%) translateX(-50%);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-200%) translateX(-50%);
		        transform: translateY(-200%) translateX(-50%);
	}
	100% {
		-webkit-transform: translateY(-50%) translateX(-50%);
		        transform: translateY(-50%) translateX(-50%);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateY(-50%) translateX(-50%);
		        transform: translateY(-50%) translateX(-50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateY(-50%) translateX(-60%);
		        transform: translateY(-50%) translateX(-60%);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateY(-50%) translateX(-40%);
		        transform: translateY(-50%) translateX(-40%);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateY(-50%) translateX(-50%);
		        transform: translateY(-50%) translateX(-50%);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateY(-50%) translateX(-60%);
		        transform: translateY(-50%) translateX(-60%);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateY(-50%) translateX(-40%);
		        transform: translateY(-50%) translateX(-40%);
	}
}

.modal-feedback {
	display: none;
	position: fixed;
	width: 481px;
	height: 445px;
	color: #323232;
	background-color: #F8F7F4;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 1px solid #979797;
	-webkit-box-shadow: 0 2px 4px 0;
	box-shadow: 0 2px 4px 0;
	z-index: 3;
}

.modal-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}

.modal-error {
	-webkit-animation: shake 0.6s;
	        animation: shake 0.6s;
}

.modal-feedback h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	padding-left: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.your-name-field {
	display: block;
	margin-left: 25px;
	height: 47px;
	width: 270px;
	border: 1px solid #B2B2B2;
	margin-top: 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 16px;
}

.your-email-field {
	display: block;
	margin-left: 25px;
	margin-top: 20px;
	height: 47px;
	width: 270px;
	border: 1px solid #B2B2B2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 16px;
}

.your-comment-field {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 25px;
	height: 158px;
	width: 431px;
	border: 1px solid #B2B2B2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 16px;
}

.field-error {
	border-color: red;
}

.comment-button {
	width: 141px;
	height: 46px;
	font-size: 18px;
	font-weight: 700;
	display: block;
	background-color: #E84D37;
	background-image: -o-linear-gradient(#E74A35, #E84D37);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E74A35), to(#E84D37));
	background-image: linear-gradient(#E74A35, #E84D37);
	color: #FEFEFE;
	-webkit-box-shadow: 0 1px 2px;
	box-shadow: 0 1px 2px;
	text-shadow: 0 2px 4px #000000;
	border: 1px solid #B2B2B2;
	border-radius: 20px;
	margin-top: 20px;
	margin-right: 0;
	margin-left: 325px;
}

.modal-close {
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	width: 18px;
	height: 17px;
	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 15px;
	left: -10px;
	width: 17px;
	height: 3px;
	background-color: #000000;
}

.modal-close::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.modal-close::after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.catalog-main {
	margin-top: -20px;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	position: relative;
	left: -40px;
	top: 11px;
}

.crumb {
	display: inline-block;
	list-style: none;
	vertical-align: middle;
}

.crumb a {
	margin-right: 21px;
}

.main-crumb::after {
	content: "»";
	position: absolute;
	top: 0;
	left: 102px;
}

.catalog-crumb::after {
	content: "»";
	position: absolute;
	top: 0;
	left: 175px;
}

.filter-panel {
	margin-top: -21px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.sorting {
	display: block;
	margin-right: 15px;
	padding: 0;
	border: 0;
}

.filter-panel h3 {
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 21px;
}

.sorting h3 {
	padding-left: 16px;
}

.sorting-filter-select {
	display: block;
	margin-top: -8px;
	background-color: rgba(255, 255, 255, .2);
	width: 196px;
	height: 39px;
	border-radius: 40px;
}

.sorting-filter-range::-ms-expand {
	display: none;
}

.sorting-filter-range {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 15px;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	-webkit-appearance: none;
	background: url("../img/icon-down-dir.svg") center right 19px no-repeat;
	-moz-appearance: none;
	appearance: none;
	background-size: 10px 10px;
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

.sorting-filter-range:hover {
	color: #323232;
	background: url("../img/icon-down-dir-black.svg") center right 19px no-repeat;
}

.price-range {
	display: block;
	margin-right: 15px;
}

.price-range h3 {
	padding-left: 12px;
}

.price-range-sub {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 222px;
	height: 39px;
	background-color: rgba(255, 255, 255, .2);
	border-radius: 20px;
	margin-top: -8px;
	margin-left: -5px;
}

.price-range-sub:hover {
	cursor: pointer;
}

.price-interval {
	position: relative;
	width: 179px;
	height: 4px;
	background: rgba(255, 255, 255, .2);
	border: 0;
	margin-left: 21px;
}

.price-interval-small {
	position: absolute;
	left: 0;
	top: 18px;
	width: 110px;
	height: 4px;
	background: #F8F7F4;
	border: 0;
	margin-left: 39px;
	z-index: 1;
}

.price-scale {
	position: relative;
}

.range-toggle {
	position: absolute;
	background-image: url("../img/filter-button.svg");
	width: 20px;
	height: 22px;
	z-index: 2;
}

.range-toggle-min {
	top: -11px;
	left: -162px;
}

.range-toggle-max {
	top: -11px;
	left: -66px;
}

.fat {
	display: block;
	margin-right: 15px;
	padding: 0;
	border: 0;
}

.fat h3 {
	padding-left: 14px;
}

.fat-range {
	background-color: rgba(255, 255, 255, .2);
	width: 417px;
	height: 39px;
	border-radius: 20px;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-top: -8px;
	padding: 0;
}

.fat-option {
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	padding-left: 26px;
	padding-top: 9px;
}

.radio-filter {
	margin-left: -31px;
}

.fat-level {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	padding-left: 31px;
	margin-left: -12px;
}

.fat-level::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: url("../img/radio-off.svg") center no-repeat;
	opacity: 0.8;
}

input:checked+.fat-level::before {
	background: url("../img/radio-on.svg") center no-repeat;
	opacity: 0.8;
}

.fat-level:hover::before {
	opacity: 1.0;
}

input:focus+.fat-level::before {
	opacity: 0.25;
}

.fillers {
	display: block;
	margin-right: 15px;
	padding: 0;
	border: 0;
	margin-top: -24px;
}

.fillers h3 {
	padding-left: 14px;
}

.fillers-range {
	background-color: rgba(255, 255, 255, .2);
	width: 705px;
	height: 35px;
	border-radius: 20px;
	font-size: 16px;
	line-height: 18px;
	color: #FFFFFF;
	margin-left: 0px;
	margin-top: -6px;
	padding: 0;
}

.filler-option {
	display: inline-block;
	padding-top: 8px;
	margin-left: 40px;
	vertical-align: middle;
}

.filler-item {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 17px;
	padding-right: 3px;
	margin-left: -11px;
}

.filler-item::before {
	content: "";
	position: absolute;
	left: -13px;
	top: 0;
	width: 16px;
	height: 16px;
	border: 2px solid rgba(255, 255, 255, .8);
	border-radius: 3px;
	background: url("../img/checkbox-off.svg") center no-repeat;
	opacity: 0.8;
}

input:checked+.filler-item::before {
	background: url("../img/checkbox-on.svg") center no-repeat;
	opacity: 0.8;
}

input:checked+.filler-item:hover::before {
	opacity: 1.0;
}

.filler-item:hover::before {
	opacity: 1.0;
}

input:focus+.filler-item::before {
	outline: 1px solid blue;
}

.button-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: rgba(255, 255, 255, .2);
	width: 146px;
	height: 39px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 20px;
	border: 2px solid #FFFFFF;
	margin-left: -6px;
	margin-top: 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 3px;
	padding-right: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.button-filter:hover {
	background-color: #FFFFFF;
	color: #323232;
}

.button-filter:active {
	background-color: #EDEDED;
	color: #323232;
}

.ice-title {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 38px;
	margin-top: 4px;
}

.hit-ice-title {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 38px;
	margin-top: 6px;
}

.wide-title {
	width: 267px;
}

.narrow-title {
	width: 262px;
}

.narrow-title-2 {
	width: 258px;
}

.kind-of-ice {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 26px;
	padding: 0;
}

.basket:hover {
	background-color: #F8F7F4;
	color: #000000;
}

.basket-panel:hover .shop-basket {
	display: block;
}

.basket-panel:hover .shop-basket,
.shop-basket:hover {
	display: block;
}

.shop-basket {
	display: none;
	position: absolute;
	top: 62px;
	right: 0;
	width: 540px;
	height: 242px;
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	background-color: #F8F7F4;
	padding: 0;
	vertical-align: middle;
	border-radius: 10px;
	border: 1px solid #979797;
	-webkit-box-shadow: 0 20px 20px;
	box-shadow: 0 20px 20px;
}

.shop-basket::before {
	content: "";
	position: absolute;
	width: 540px;
	height: 7px;
	background: transparent;
	border: 0;
	margin-left: 15px;
	top: -5px;
	left: 15px;
}

.shop-basket:hover::after {
	display: block;
}

.basket-content {
	display: table;
	position: absolute;
	height: 135px;
	width: 510px;
	border-bottom: 1px solid #CACAC7;
	z-index: 1;
	margin-top: -8px;
	margin-left: 12px;
}

.basket-content tr {
	padding-bottom: 10px;
}

.column-3 {
	width: 236px;
}

.column-1,
.column-2,
.column-3 {
	padding: 5px;
}

.column-4,
.column-5 {
	padding: 10px;
}

.total {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-top: 137px;
	margin-right: 15px;
	color: #323232;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
}

.place-order-button {
	margin-top: 22px;
	margin-left: 345px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	width: 173px;
	height: 29px;
	background-color: #E84D37;
	background-image: -o-linear-gradient(#E74A35, #E84D37);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E74A35), to(#E84D37));
	background-image: linear-gradient(#E74A35, #E84D37);
	text-shadow: 0 1px 3px #000000;
	-webkit-box-shadow: 0 1px 2px;
	box-shadow: 0 1px 2px;
	color: #FEFEFE;
	border: 1px solid #979797;
	border-radius: 20px;
	z-index: 1;
	padding-top: 8px;
	padding-bottom: 5px;
}

.basket-price {
	opacity: 30%;
}

.page-navigation {
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-top: 48px;
	margin-right: -1px;
}

.page-navigation li {
	padding-left: 5px;
}

.catalog-page,
.arrow {
	display: block;
	padding: 5px;
}

.catalog-page {
	background-color: transparent;
	color: #FFFFFF;
	border-radius: 50%;
	background-size: 28px 28px;
	padding: 3px 8px;
}

.catalog-page:hover {
	background-color: rgba(255, 255, 255, .2);
}

.arrow-left {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.active-page {
	background-color: #FFFFFF;
	color: #353535;
}
